body {
    padding-left: 25px;
}

.game {
    font-size: 20px;
}

.subtitle {
    margin-left: 25px;
}

.content {
    margin-left: 50px;
}

.content li {
    font-size: 20px;
}

.map {
    list-style-type: none;
}

.map img{
    margin: 4px;
}